*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.menu-bar{
    background-color: #004260;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 15px;
}
.logo{
    width: 150px;
    padding: 5px;
}
.menu{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.banner{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    padding: 10px;
    align-items: center;
    background-image: url(images/background.png), linear-gradient(45deg, rgb(7, 7, 7) 0%, rgb(62, 126, 221) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
.title{
    font-family: sans-serif;
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 15px;
}
.btn{
    margin-top: 20px;
    padding: 20px 20px;
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}
.photo{
    width: 400px;
}
.abt-us{
    background-color: #00f1ff;
}
.aboutus-container{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    margin-top: 22px;
}
.aboutus-h1{
    text-align: center;
    padding-top: 20px;
}
.second-title{
    font-family: sans-serif;
    font-size: 35px;
    text-shadow: 3px 3px 3px #00709a;
}
.abtus-p{
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.new{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
}